#facebook-portfolio {
  background: #1F1F20; }
  #facebook-portfolio .button {
    display: block;
    float: left;
    font-family: 'ff-tisa-web-pro';
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 8px 20px 10px 20px;
    margin: 20px 20px 0 0;
    width: 45%;
    text-align: center;
    background-color: #1F1F20;
    color: #fff;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease; }
    #facebook-portfolio .button:hover, #facebook-portfolio .button:focus {
      text-decoration: none;
      background-color: #fff;
      color: #1F1F20; }
  #facebook-portfolio .header-index {
    margin: auto;
    color: #fff;
    width: 90%;
    max-width: 600px;
    text-align: center; }
    #facebook-portfolio .header-index .wrapper {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  #facebook-portfolio .header {
    position: relative;
    height: 100vh;
    top: 0;
    background: #1F1F20; }
    #facebook-portfolio .header .scroll-indicator {
      position: absolute;
      width: 100%;
      bottom: 20px;
      margin: auto;
      text-align: center; }
      #facebook-portfolio .header .scroll-indicator h4 {
        margin-bottom: 18px; }
    #facebook-portfolio .header .arrow {
      position: relative;
      top: 0px;
      width: 33px;
      -webkit-animation: arrows 2.8s infinite;
      -webkit-animation-delay: 3s; }
  #facebook-portfolio .stars-back, #facebook-portfolio .stars-front {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-position: 100% 100%; }
  #facebook-portfolio .stars-back {
    z-index: 1;
    background: url("../assets/stars-back.svg") transparent no-repeat;
    -webkit-animation: stars-moving 320s linear; }
  #facebook-portfolio .stars-front {
    z-index: 2;
    background: url("../assets/stars-front.svg") transparent no-repeat;
    -webkit-animation: stars-moving 160s linear; }
@-webkit-keyframes stars-moving {
  0% {
    background-position: 100% 100%; }
  100% {
    background-position: 0%   0%; } }
@-webkit-keyframes arrows {
  0% {
    top: 00px; }
  10% {
    top: 05px; }
  20% {
    top: 00px; }
  30% {
    top: 00px; }
  40% {
    top: -5px; }
  50% {
    top: 05px; }
  60% {
    top: 00px; }
  70% {
    top: 05px; }
  80% {
    top: -5px; }
  90% {
    top: 05px; }
  100% {
    top: 00px; } }
  #facebook-portfolio .left-column {
    margin: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    width: 295px;
    height: 602px;
    background: url("/assets/iphone-background.png");
    background-size: 100% 100%; }
    @media (max-width: 905px) {
      #facebook-portfolio .left-column {
        display: none; } }
    #facebook-portfolio .left-column .video-container {
      position: absolute;
      width: 256px;
      height: 455px;
      top: 73px;
      left: 20px;
      background: black; }
      #facebook-portfolio .left-column .video-container video {
        width: 100%;
        height: 100%; }
  #facebook-portfolio .portfolio {
    height: 100vh;
    max-height: 600px; }
  #facebook-portfolio .portfolio {
    max-width: 1400px;
    margin: auto; }
  #facebook-portfolio .large-5 {
    text-align: center; }
  #facebook-portfolio .portfolio.frames {
    max-height: 802px; }
  #facebook-portfolio .portfolio.game {
    margin-top: 700px; }
    #facebook-portfolio .portfolio.game img {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      max-width: 200px; }
  #facebook-portfolio .portfolio.broadwand .imgs-wrappers {
    width: auto;
    margin: auto;
    text-align: center; }
    #facebook-portfolio .portfolio.broadwand .imgs-wrappers img {
      width: 22%;
      margin-right: 15px;
      margin-left: 15px; }
  #facebook-portfolio .portfolio.broadwand .large-12 {
    background: #1F1F20;
    width: 100%;
    height: 600px; }
  #facebook-portfolio iframe {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    width: 100%; }
  #facebook-portfolio .other-stuff {
    color: #fff;
    width: 90%;
    max-width: 600px;
    margin: auto;
    text-align: center;
    margin-top: 300px; }
    #facebook-portfolio .other-stuff img {
      width: 200px; }
    #facebook-portfolio .other-stuff .button {
      float: none;
      margin: auto; }
