body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #252525;
  font-size: 16px; }

h1 {
  font-weight: 800;
  font-size: 60px;
  margin: 0;
  margin-bottom: 4px;
  transition: all 0.3s ease-in-out; }
  @media (max-width: 580px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-weight: 800;
  font-size: 22px;
  margin-top: 16px;
  padding-bottom: 8px;
  border-bottom: 2px solid #e9e9e9;
  width: 100%;
  transition: font-size 0.3s ease-in-out; }
  @media (max-width: 580px) {
    h2 {
      font-size: 18px; } }

h3 {
  font-weight: 400;
  font-size: 18px;
  color: #727171;
  margin: 0; }

a {
  line-height: auto;
  text-decoration: none;
  color: inherit;
  padding-bottom: 4px;
  border-bottom: 2px solid #499ebe;
  border-color: #fff;
  transition: border-color 0.1s ease-in-out; }
  a:hover, a:focus {
    border-color: #499ebe; }

ul {
  list-style: none;
  padding-left: 0;
  margin: 0; }

li {
  margin-bottom: 16px; }

.ninja {
  text-decoration: none;
  border: none; }
  .ninja:hover, .ninja:focus, .ninja:active {
    text-decoration: none;
    cursor: default; }

.strike {
  text-decoration: line-through;
  opacity: 0.5; }

.gangsta-wrapper {
  max-width: 1024px;
  padding: 0 40px;
  margin: auto; }
  @media (max-width: 580px) {
    .gangsta-wrapper {
      padding: 0 16px; } }

body {
  position: relative;
  margin: 0;
  padding-bottom: 104px; }

.header {
  margin-top: 164px;
  width: 100%;
  max-width: 620px;
  transition: all 0.3s cubic-bezier(0, 0.93, 0.76, 1.03); }
  @media (max-width: 750px) {
    .header {
      max-width: 100%; } }
  @media (max-width: 580px) {
    .header {
      margin-top: 150%; } }
  .header h2 {
    color: #e9e9e9; }
  .header h1:hover {
    color: #e9e9e9; }
    .header h1:hover #for-friends-name {
      color: #252525; }

.my-name-is-earl {
  margin-bottom: 64px; }

.currently h2 {
  margin-top: 40px; }

.styled-work-label {
  position: relative;
  left: -32px;
  display: flex;
  align-items: center;
  margin-bottom: 24px; }
  .styled-work-label img {
    width: 24px;
    margin-right: 8px;
    z-index: 1; }
  .styled-work-label .hover-effect {
    position: absolute;
    left: 32px;
    border-radius: 4px;
    height: 29px;
    width: 0%;
    z-index: 0;
    transition: width 0.3s cubic-bezier(0, 0.93, 0.76, 1.03); }
  .styled-work-label a {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% + 32px);
    cursor: pointer;
    padding-bottom: 0;
    border-bottom: none; }
    @media (max-width: 580px) {
      .styled-work-label a {
        flex-direction: column;
        align-items: normal; }
        .styled-work-label a h3:last-child {
          margin-top: 4px;
          padding-left: 8px;
          font-size: 16px; } }
    .styled-work-label a h3:first-child {
      font-weight: 500;
      padding: 4px 8px;
      margin-right: 8px;
      border-radius: 4px; }
  @media (min-width: 580px) {
    .styled-work-label:hover a, .styled-work-label:focus a, .styled-work-label:active a {
      text-decoration: none; }
    .styled-work-label:hover .hover-effect, .styled-work-label:focus .hover-effect, .styled-work-label:active .hover-effect {
      width: 100%; } }
  @media (max-width: 580px) {
    .styled-work-label {
      left: 0; } }

#netlify-label,
.hover-effect.netlify {
  color: #499ebe;
  background: #f1f8fa; }

#layout-label,
.hover-effect.layout {
  color: #4fc44a;
  background: #f1fbf1; }

#bts-label,
.hover-effect.bts {
  color: #519d9e;
  background: #f1f8f8; }

#youtube-label,
.hover-effect.youtube {
  color: #b31217;
  background: #fbeeee; }

.other-thangs {
  display: grid;
  margin-top: 164px;
  grid-gap: 40px;
  grid-auto-rows: max-content;
  grid-template-columns: 0.33fr;
  grid-template-areas: "read read follow" "listen listen more" "meet meet meet";
  transition: all 0.3s cubic-bezier(0, 0.93, 0.76, 1.03); }
  @media (max-width: 750px) {
    .other-thangs {
      grid-template-areas: "read read read" "listen listen listen" "follow follow follow" "more more more" "meet meet meet"; } }
  @media (max-width: 580px) {
    .other-thangs {
      margin-top: 104px;
      grid-auto-rows: auto; } }

.read {
  grid-area: read; }

.follow {
  grid-area: follow; }

.listen {
  grid-area: listen; }

.more {
  grid-area: more; }

.meet {
  grid-area: meet; }

.meet ul {
  columns: 6;
  -webkit-column-count: 6;
  -moz-column-count: 6; }
  @media (max-width: 990px) {
    .meet ul {
      columns: 5;
      -webkit-column-count: 5;
      -moz-column-count: 5; } }
  @media (max-width: 800px) {
    .meet ul {
      columns: 4;
      -webkit-column-count: 4;
      -moz-column-count: 4; } }
  @media (max-width: 600px) {
    .meet ul {
      columns: 3;
      -webkit-column-count: 3;
      -moz-column-count: 3; } }
  @media (max-width: 480px) {
    .meet ul {
      columns: 2;
      -webkit-column-count: 2;
      -moz-column-count: 2; } }
  @media (max-width: 400px) {
    .meet ul {
      columns: 1;
      -webkit-column-count: 1;
      -moz-column-count: 1; } }

.tidbits {
  position: relative;
  width: 100%;
  margin-top: 100px;
  display: block;
  clear: both;
  overflow: hidden; }
  .tidbits .wrapper {
    text-align: center; }
  .tidbits .right-gradient {
    position: absolute;
    z-index: 10;
    bottom: 55px;
    right: 0px;
    overflow: hidden;
    width: 150px;
    height: 300px;
    padding: 0;
    display: block;
    pointer-events: none;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.9)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%); }

@media (max-width: 1400px) {
  .to-scroll {
    overflow-x: scroll; } }

.column {
  width: 20%;
  float: left;
  text-align: center; }

#work {
  max-width: 95%;
  margin: auto; }
  #work .header .wrapper {
    color: #252525;
    max-width: 800px;
    margin: auto; }
    #work .header .wrapper p {
      line-height: 35px;
      color: #727171; }
    #work .header .wrapper .element-1 {
      -webkit-animation: fadeInBottom 1s cubic-bezier(0.3, 0, 0.3, 1) 0s both;
      animation: fadeInBottom 0.8s cubic-bezier(0.3, 0, 0.3, 1) 0s both; }
    #work .header .wrapper .element-2 {
      -webkit-animation: fadeInBottom 1s cubic-bezier(0.3, 0, 0.3, 1) 0.5s both;
      animation: fadeInBottom 0.8s cubic-bezier(0.3, 0, 0.3, 1) 0.5s both; }
    #work .header .wrapper .element-3 {
      -webkit-animation: fadeInBottom 1s cubic-bezier(0.3, 0, 0.3, 1) 0.8s both;
      animation: fadeInBottom 0.8s cubic-bezier(0.3, 0, 0.3, 1) 0.8s both; }
  #work .showroom {
    position: relative;
    width: 100%;
    max-width: 1040px;
    margin: auto;
    text-align: left; }
    #work .showroom .break-this-safe,
    #work .showroom .frames,
    #work .showroom .sketchcasts {
      position: relative;
      width: 100%;
      display: inline-block;
      margin-bottom: 200px; }
    #work .showroom .column {
      position: relative;
      width: 50%;
      text-align: left; }
      @media (max-width: 880px) {
        #work .showroom .column {
          width: 100%; } }
    #work .showroom .description .wrapper {
      height: 100px;
      margin-bottom: 20px; }
      @media (max-width: 420px) {
        #work .showroom .description .wrapper {
          height: auto;
          text-align: center; } }
    #work .showroom img {
      height: 100px;
      width: auto;
      float: left; }
      @media (max-width: 420px) {
        #work .showroom img {
          float: none; } }
    #work .showroom .text-wrapper {
      float: left;
      margin-left: 20px; }
      @media (max-width: 420px) {
        #work .showroom .text-wrapper {
          float: inherit;
          margin-left: 0; } }
    #work .showroom .product-summary {
      color: #252525;
      line-height: 28px;
      margin-bottom: 20px; }
      @media (max-width: 420px) {
        #work .showroom .product-summary {
          padding-top: 20px; } }
    #work .showroom .meta-data {
      color: #252525;
      margin-bottom: 10px; }
    #work .showroom .label {
      font-family: "Avenir Next W01", -apple-system, Roboto, sans-serif;
      font-weight: 600; }
    #work .showroom .break-this-safe img,
    #work .showroom .frames img {
      border-radius: 22px; }
    #work .showroom .break-this-safe a {
      color: #519d9e; }
    @media (min-width: 880px) {
      #work .showroom .break-this-safe .description {
        top: 30%;
        -webkit-transform: translateY(30%);
        -ms-transform: translateY(30%);
        transform: translateY(30%); } }
    #work .showroom .frames a {
      color: #33b0f7; }
    @media (min-width: 880px) {
      #work .showroom .frames .description {
        top: 30%;
        -webkit-transform: translateY(30%);
        -ms-transform: translateY(30%);
        transform: translateY(30%); } }
    #work .showroom .sketchcasts a {
      color: #1375b8; }
  #work .video-column {
    position: relative;
    text-align: right !important;
    display: inline-block; }
    @media (max-width: 880px) {
      #work .video-column {
        text-align: center !important;
        margin-top: 50px; } }
  #work #demo-video-bts {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 420px;
    float: right;
    margin: auto; }
    @media (max-width: 880px) {
      #work #demo-video-bts {
        float: none; } }
  #work #demo-video-frames {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 320px;
    margin: 0 auto; }
  #work #demo-video-sketchcasts {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    top: 10%;
    margin-right: -60px;
    -webkit-transform: translateY(10%);
    -ms-transform: translateY(10%);
    transform: translateY(10%); }
    @media (max-width: 880px) {
      #work #demo-video-sketchcasts {
        margin-right: 0; } }
  #work .tidbits .wrapper {
    text-align: center;
    max-width: 700px;
    margin: auto; }
    #work .tidbits .wrapper p {
      color: #727171;
      font-size: 22px; }

.light {
  color: #727171; }

#work .gangsta-wrapper .column {
  width: 31.3%;
  padding: 0 1% 0 1%;
  text-align: center; }

#work .gangsta-wrapper img {
  height: 100px;
  width: auto;
  float: none; }

#work .gangsta-wrapper .ios8 img {
  border-radius: 25px; }

#work .gangsta-wrapper .sublime img {
  box-shadow: none;
  -webkit-filter: drop-shadow(0px 4px 10px #c2c2c2);
  -webkit-transition: -webkit-filter 0.3s ease;
  -moz-transition: -webkit-filter 0.3s ease;
  -o-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease; }
  #work .gangsta-wrapper .sublime img:hover, #work .gangsta-wrapper .sublime img:active {
    -webkit-filter: drop-shadow(0px 0px 0px #c2c2c2); }

#work .other-thangs .more-work {
  width: 70%; }
  @media (max-width: 420px) {
    #work .other-thangs .more-work {
      width: 95%; } }
  #work .other-thangs .more-work ul {
    columns: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2; }

#work .other-thangs .column-right {
  width: 20%; }
  @media (max-width: 420px) {
    #work .other-thangs .column-right {
      width: 95%; } }
