@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

$black: #1F1F20;

h1,
h2,
h3 { font-family: 'futura-pt'; }
p,
li { font-family: 'ff-tisa-web-pro';}

h1 {
  font-size: 50px;
  font-weight: 700;
  @media (max-width: 550px){
    font-size: 40px;
  }
}

p { font-weight: 400;}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  li {
    margin-bottom: 8px;
    @media (max-width: 1025px){
      margin-bottom: 25px;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
  &:hover,
  &:focus { text-decoration: underline; }
}

#title {
  font-size: 68px;
  text-transform: uppercase;
  margin-top: -10px;
  margin-bottom: -10px;
  @media (max-width: 550px){
    font-size: 45px;
  }
  @media (max-width: 346px){
    font-size: 10vw;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.publication {
  font-size: 16px;
  text-transform: uppercase;
}

.lowercase { text-transform:lowercase; }
.smallcaps {
  text-transform: small-caps;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.8;
  padding-left: 5px;
}

.hide-on-mobile {
  @media (max-width: 1025px){
    display: none;
  }
}

.hide-on-desktop {
  @media (min-width: 1025px){
    display: none;
  }
}

////////////////////////////////////

.header.row {
  height: 90vh;
  width: 100%;
  max-height: 625px;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.my-name-is-earl {
  height: 100%;
  padding: 20px;
  background: $black;
  text-align: center;
  color: #fff;
  p {margin: 0;}
  .wrapper {@include vertical-align;}
}

.video-wrapper {
  width: 50%;
  height: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;

  background: $black;
}

video#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.separator {
  width: 80%;
  margin: auto;
  text-align: center;
}

.work.row {
  position: relative;
  height: 100vh;
  width: 100%;
  max-height: 480px;
  max-width: 100%;
  margin: 0;
  padding: 0;

  background: $black;
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.1);

  .description,
  .icon { height: 100%; }
  .description .wrapper {
    @include vertical-align;
    max-width: 500px;
    width: 90%;
    margin: auto;
    padding-left: 20px;
    @media (max-width: 550px){
      max-width: 90%;
      padding: 0;
    }
    h1 { text-transform: uppercase; }
    h1,
    p { margin: 0; }
  }
}

.icon .wrapper {
  @include vertical-align;
  max-width: 180px;
  width: 90%;
  margin: auto;
  opacity: 0.7;
}

.artboard .icon .wrapper { max-width: 130px; }

.other-thangs { margin-top: 100px; }

.other-thangs .row {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;

  .wrapper {
    max-width: 500px;
    width: 90%;
    margin: auto;
    padding-left: 20px;
    h1,
    p { margin: 0; }
  }
}

.footer-ish {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;

  .row {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .wrapper {
    max-width: 500px;
    width: 90%;
    margin: auto;
    padding-left: 20px;
    text-align: center;
  }
}