////////////////////////////////////////////
//                                        //
//        rafa.design Stylesheet v3       //
//        written by Rafa, Jan 2016       //
//                                        //
////////////////////////////////////////////

// Colors
$black: #0a0a0a;


// Typography
h1,
h2,
h3 { font-family: 'Avenir Next W01', -apple-system, Roboto, sans-serif; }
p,
li { font-family: 'Freight Text W01', 'Times New Roman', serif;}

h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 68px;
  @media (max-width: 550px) { font-size: 40px; }
}

h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 30px;
}

p,
li {
  font-weight: 500;
  font-size: 21px;
  letter-spacing: 0.2px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  li {
    margin-bottom: 8px;
    @media (max-width: 1025px) { margin-bottom: 25px; }
  }
}

a {
  text-decoration: none;
  color: inherit;
  &:hover,
  &:focus { text-decoration: underline; }
}
.ninja {
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    cursor: default;
  }
}

strong {
  font-weight: 600 !important;
  text-decoration: underline;
}

#title {
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  @media (max-width: 550px) { font-size: 40px; }
  @media (max-width: 346px) {
    font-size: 10vw;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.publication {
  @extend .smallcaps;
  font-weight: 700;
}

// Custom classes and utilities

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.lowercase { text-transform: lowercase; }

.faded {
  opacity: 0.5;
  font-weight: 500;
}

.smallcaps {
  font-family: 'Freight Text W00', 'Times New Roman', serif;
  text-transform: lowercase;
}

.hide-on-mobile { @media (max-width: 1025px) { display: none; } }

.hide-on-desktop { @media (min-width: 1025px) { display: none; } }

////////////////////////////////////

body { background: $black !important; }

.row { overflow: hidden; }

.header.row {
  height: 90vh;
  width: 100%;
  max-height: 625px;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.large-7 {
  width: 61.8% !important; // Golden Ratio
  @media (max-width: 1024px) { width: 100% !important; }
}

.large-5 {
  width: 38.2% !important; // Golden Ratio
  @media (max-width: 1024px) {
    width: 0% !important;
    display: none;
  }
}

.my-name-is-earl {
  height: 100%;
  padding: 20px;
  background: $black;
  text-align: center;
  border: 4px solid #000;
  border-top: none;
  color: #fff;
  p {margin: 0;}
  .wrapper { @include vertical-align; }
}

.video-wrapper {
  height: 120%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  top: -20%;
  z-index: -1;
  background: $black;

}

video#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work.row {
  position: relative;
  height: 100vh;
  width: 100%;
  max-height: 480px;
  max-width: 100%;
  top: -10%;
  margin: 0;
  padding: 0;
  background-color: $black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  border: 4px solid #000;
  color: #fff;
  p a {
    text-decoration: underline;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    &:hover,
    &:focus { color: darken(#fff, 20%); }
  }
  h1 { text-transform: uppercase; }
  .description { height: 100%; }
  .description .wrapper {
    @include vertical-align;
    max-width: 550px;
    width: 90%;
    margin: auto;
    padding-left: 20px;
    @media (max-width: 550px) {
      max-width: 90%;
      padding: 0;
    }
    h1,
    p { margin: 0; }
    h1 { margin-bottom: 10px; }
  }
}

.sketchcasts     { background-image: url('../assets/sketchcastsBG.svg'); }
.layout          { background-image: url('../assets/layoutBG.svg'); }
.frames          { background-image: url('../assets/framesBG.svg'); }
.break-this-safe { background-image: url('../assets/watchBG.svg'); }
.ios-8-kit       { background-image: url('../assets/uikitBG.svg'); }
.sketchcasts,
.layout,
.frames,
.break-this-safe,
.ios-8-kit {
  -webkit-transition: background-size 10s ease;
  -moz-transition: background-size 10s ease;
  -o-transition: background-size 10s ease;
  transition: background-size 10s ease;
  &:hover {
    background-size: auto 120%;
    -webkit-transition: background-size 10s ease;
    -moz-transition: background-size 10s ease;
    -o-transition: background-size 10s ease;
    transition: background-size 10s ease;
  }
}

.other-thangs {
  position: relative;
  top: -10%;
  background: #fff;
  padding-top: 100px;
  @media (min-width: 840px) {
    li { width: 90vw;}
  }
}

.other-thangs .row {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;

  .wrapper {
    max-width: 550px;
    width: 90%;
    margin: auto;
    padding-left: 20px;
    h1,
    p { margin: 0; }
    h1 { margin-bottom: 10px; }
  }
}

.meet {
  @media (min-width: 840px){
    h1,
    h2 { width: 90vw;}
    ul { columns: 2; }
  }
  .strike { text-decoration: line-through; }
}

.footer-ish {
  position: relative;
  top: -10%;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  .row {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .wrapper {
    max-width: 550px;
    width: 90%;
    margin: auto;
    padding-left: 20px;
  }
}