////////////////////////////////////////////
//                                        //
//        rafa.design Stylesheet v4       //
//       written by Rafa, April 2016      //
//                                        //
////////////////////////////////////////////

// Colors
$black: #252525;
$light: lighten( $black, 30% );
$lighter: lighten( $black, 80% );

// Typography
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
  color: $black;
  font-size: 16px;
}

h1 {
  font-weight: 800;
  font-size: 60px;
  margin: 0;
}

h2 {
  font-weight: 800;
  font-size: 22px;
  margin-top: 16px;
  padding-bottom: 8px;
  border-bottom: 2px solid $lighter;
  width: 100%;
}

h3 {
  font-weight: 400;
  font-size: 18px;
  color: $light;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  padding-bottom: 4px;
  border-bottom: 2px solid #499EBE;
  border-color: #fff;
  transition: border-color 0.1s ease-in-out;

  &:hover,
  &:focus {
    border-color: #499EBE;
  }
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

li {
  margin-bottom: 16px;
}

#title {
  margin-bottom: 4px;
}

.ninja {
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    cursor: default;
  }
}


// Custom classes and utilities

.strike {
  text-decoration: line-through;
}

.gangsta-wrapper {
  max-width: 1024px;
  padding: 0 40px;
  margin: auto;
}

//////////////////////////////////////

body {
  position: relative;
  margin: 0;
  padding-bottom: 200px;
}

.header {
  margin-top: 164px;
  width: 100%;
  max-width: 620px;

  h2 {
    color: $lighter;
  }
}

.my-name-is-earl {
  margin-bottom: 64px;
}

.currently h2 {
  margin-top: 40px;
}

.styled-work-label {
  position: relative;
  left: -32px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  img {
    width: 24px;
    margin-right: 8px;
    z-index: 1;
  }

  .hover-effect {
    position: absolute;
    left: 32px;
    border-radius: 4px;
    height: 29px;
    width: 0%;
    z-index: 0;
    transition: width 0.3s cubic-bezier(0, 0.93, 0.76, 1.03);
  }

  a {
    z-index: 1;
    display: flex;
    align-items: center;
    width: calc(100% + 32px);
    cursor: pointer;
    padding-bottom: 0;
    border-bottom: none;

    h3:first-child {
      font-weight: 500;
      padding: 4px 8px;
      margin-right: 8px;
      border-radius: 4px;
    }
  }

  &:hover,
  &:focus,
  &:active {
    a { text-decoration: none; }
    .hover-effect { width: 100%; }
  }
}

#netlify-label,
.hover-effect.netlify {
  color: #499EBE;
  background: #f1f8fa;
}

#layout-label,
.hover-effect.layout {
  color: #4FC44A;
  background: #f1fbf1;
}

#bts-label,
.hover-effect.bts {
  color: #519D9E;
  background: #f1f8f8;
}

#youtube-label,
.hover-effect.youtube {
  color: #B31217;
  background: #fbeeee;
}

.other-thangs {
  display: grid;
  margin-top: 164px;
  grid-gap: 40px;
  grid-auto-rows: max-content;
  grid-template-columns: .33fr;
  grid-template-areas:
    "read read follow"
    "listen listen more"
    "meet meet meet";
}

.read { grid-area: read; }
.follow { grid-area: follow; }
.listen { grid-area: listen; }
.more { grid-area: more; }
.meet { grid-area: meet; }

.meet ul {
  columns: 6;
  -webkit-column-count: 6;
  -moz-column-count: 6;
  @media (max-width: 990px) {
    columns: 5;
    -webkit-column-count: 5;
    -moz-column-count: 5;
  }
  @media (max-width: 800px) {
    columns: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;
  }
  @media (max-width: 600px) {
    columns: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
  }
  @media (max-width: 480px) {
    columns: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
  @media (max-width: 400px) {
    columns: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
  }
}

// .tidbits {
//   position: relative;
//   width: 100%;
//   margin-top: 100px;
//   display: block;
//   clear: both;
//   overflow: hidden;
//   .wrapper { text-align: center; }
//   .right-gradient {
//     position: absolute;
//     z-index: 10;
//     bottom: 55px;
//     right: 0px;
//     overflow: hidden;
//     width: 150px;
//     height: 300px;
//     padding: 0;
//     display: block;
//     pointer-events: none;
//     background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
//     background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.9)));
//     background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
//     background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
//     background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
//     background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
//   }
// }
//
// .to-scroll { @media (max-width: 1400px) { overflow-x: scroll; } }
//
// .gangsta-wrapper {
//   position: relative;
//   padding: 0;
//   width: 95%;
//   overflow-x: hidden;
//   @media (max-width: 1400px) {
//     width: 1400px;
//     padding-left: 30px;
//     padding-right: 30px;
//   }
//   max-width: 1400px;
//   margin: auto;
//   margin-top: 100px;
//   margin-bottom: 100px;
//   &::after {
//     content: "";
//     display: block;
//     clear: both;
//   }
// }
//
// .column {
//   width: 20%;
//   float: left;
//   text-align: center;
//   p {
//     font-size: 18px;
//     margin: 0;
//     color: $light;
//   }
//   img {
//     width: 150px;
//     box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.24);
//     transform: scale(1);
//     -webkit-transition: box-shadow 0.3s ease, transform 0.3s ease;
//     -moz-transition: box-shadow 0.3s ease, transform 0.3s ease;
//     -o-transition: box-shadow 0.3s ease, transform 0.3s ease;
//     transition: box-shadow 0.3s ease, transform 0.3s ease;
//     &:hover,
//     &:focus {
//       box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.24);;
//       transform: scale(0.98);
//     }
//     &:active { transform: scale(0.95); }
//   }
// }
// .sketchcasts img { border-radius: 100px; }
// .youtube img {
//   position: relative;
//   border-radius: 25px;
//   margin-bottom: 45px;
//   top: 22px;
// }
// .frames img,
// .break-this-safe img { border-radius: 35px; }
//
// .other-thangs {
//   position: relative;
//   width: 100%;
//   margin-top: 150px;
//   @media (max-width: 1140px) {
//     margin-top: 50px;
//   }
//   .wrapper {
//     margin: auto;
//     overflow: hidden;
//     position: relative;
//     width: 95%;
//     max-width: 1100px;
//     @media (min-width: 800px) {
//       margin-top: 80px;
//     }
//   }
//   .column {
//     position: relative;
//     float: left;
//     width: 45%;
//     text-align: left;
//     @media (max-width: 800px) {
//       width: 100%;
//       clear: both;
//     }
//   }
//   .column-right {
//     @media (min-width: 800px) {
//       position: absolute;
//       right: 0;
//     }
//   }
//   h2 {
//     position: relative;
//     padding-left: 10px;
//     padding-bottom: 10px;
//     margin-bottom: 20px;
//     border-bottom: 2px solid $lighter;
//   }
//   li {
//     padding-left: 10px;
//     font-size: 18px;
//     color: #10161E;
//     margin-bottom: 14px;
//     line-height: 25px;
//     // color: $light;
//   }
//   ul {
//     list-style: none;
//     padding-left: 0;
//     margin: 0;
//     @media (max-width: 800px) {
//       margin-bottom: 50px;
//     }
//   }
//   .meet {
//     width: 100%;
//     max-width: 9990px;
//     ul {
//       columns: 6;
//       -webkit-column-count: 6;
//       -moz-column-count: 6;
//       @media (max-width: 990px) {
//         columns: 5;
//         -webkit-column-count: 5;
//         -moz-column-count: 5;
//       }
//       @media (max-width: 800px) {
//         columns: 4;
//         -webkit-column-count: 4;
//         -moz-column-count: 4;
//       }
//       @media (max-width: 600px) {
//         columns: 3;
//         -webkit-column-count: 3;
//         -moz-column-count: 3;
//       }
//       @media (max-width: 480px) {
//         columns: 2;
//         -webkit-column-count: 2;
//         -moz-column-count: 2;
//       }
//       @media (max-width: 400px) {
//         columns: 1;
//         -webkit-column-count: 1;
//         -moz-column-count: 1;
//       }
//     }
//   }
// }
//
// #work {
//   max-width: 95%;
//   margin: auto;
//   .header .wrapper {
//     color: $black;
//     max-width: 800px;
//     margin: auto;
//     p {
//       line-height: 35px;
//       color: $light;
//     }
//     .element-1 {
//       -webkit-animation: fadeInBottom 1s cubic-bezier(0.3, 0, 0.3, 1) 0s both;
//       animation: fadeInBottom 0.8s cubic-bezier(0.3, 0, 0.3, 1) 0s both;
//     }
//     .element-2 {
//       -webkit-animation: fadeInBottom 1s cubic-bezier(0.3, 0, 0.3, 1) 0.5s both;
//       animation: fadeInBottom 0.8s cubic-bezier(0.3, 0, 0.3, 1) 0.5s both;
//     }
//     .element-3 {
//       -webkit-animation: fadeInBottom 1s cubic-bezier(0.3, 0, 0.3, 1) 0.8s both;
//       animation: fadeInBottom 0.8s cubic-bezier(0.3, 0, 0.3, 1) 0.8s both;
//     }
//   }
//   .showroom {
//     position: relative;
//     width: 100%;
//     max-width: 1040px;
//     margin: auto;
//     text-align: left;
//     .break-this-safe,
//     .frames,
//     .sketchcasts {
//       position: relative;
//       width: 100%;
//       display: inline-block;
//       margin-bottom: 200px;
//     }
//     .column {
//       position: relative;
//       width: 50%;
//       text-align: left;
//       @media (max-width: 880px) {
//         width: 100%;
//       }
//     }
//     .description .wrapper {
//       height: 100px;
//       margin-bottom: 20px;
//       @media (max-width: 420px) {
//         height: auto;
//         text-align: center;
//       }
//     }
//     img {
//       height: 100px;
//       width: auto;
//       float: left;
//       @media (max-width: 420px) {
//         float: none;
//       }
//     }
//     .text-wrapper {
//       float: left;
//       margin-left: 20px;
//       @media (max-width: 420px) {
//         float: inherit;
//         margin-left: 0;
//       }
//     }
//     .product-summary {
//       color: $black;
//       line-height: 28px;
//       margin-bottom: 20px;
//       @media (max-width: 420px) {
//         padding-top: 20px;
//       }
//     }
//     .meta-data {
//       color: $black;
//       margin-bottom: 10px;
//     }
//     .label {
//       font-family: 'Avenir Next W01', -apple-system, Roboto, sans-serif;
//       font-weight: 600;
//     }
//     .break-this-safe img,
//     .frames img { border-radius: 22px;}
//     .break-this-safe {
//       a { color: #519D9E; }
//       .description {
//         @media (min-width: 880px) {
//           top: 30%;
//           -webkit-transform: translateY(30%);
//           -ms-transform: translateY(30%);
//           transform: translateY(30%);
//         }
//       }
//     }
//     .frames {
//      a { color: #33B0F7; }
//       .description {
//         @media (min-width: 880px) {
//           top: 30%;
//           -webkit-transform: translateY(30%);
//           -ms-transform: translateY(30%);
//           transform: translateY(30%);
//         }
//       }
//     }
//     .sketchcasts { a { color: #1375B8; } }
//   }
//   .video-column {
//     position: relative;
//     text-align: right !important;
//     @media (max-width: 880px) {
//       text-align: center !important;
//       margin-top: 50px;
//     }
//     display: inline-block;
//   }
//   #demo-video-bts {
//     position: relative;
//     display: inline-block;
//     width: 100%;
//     max-width: 420px;
//     float: right;
//     margin: auto;
//     @media (max-width: 880px) {
//       float: none;
//     }
//   }
//   #demo-video-frames {
//     position: relative;
//     display: inline-block;
//     width: 100%;
//     max-width: 320px;
//     margin: 0 auto;
//   }
//   #demo-video-sketchcasts {
//     position: relative;
//     display: inline-block;
//     width: 100%;
//     margin: 0 auto;
//     top: 10%;
//     margin-right: -60px;
//     @media (max-width: 880px) {
//       margin-right: 0;
//     }
//     -webkit-transform: translateY(10%);
//     -ms-transform: translateY(10%);
//     transform: translateY(10%);
//   }
//   .tidbits {
//     .wrapper {
//       text-align: center;
//       max-width: 700px;
//       margin: auto;
//       p {
//         color: $light;
//         font-size: 22px;
//       }
//     }
//   }
// }
// .light { color: $light; }
//
// #work {
//   .gangsta-wrapper {
//     .column {
//       width: 31.3%;
//       padding: 0 1% 0 1%;
//       text-align: center;
//     }
//     img {
//       height: 100px;
//       width: auto;
//       float: none;
//     }
//     .ios8 img { border-radius: 25px; }
//     .sublime img {
//       box-shadow: none;
//       -webkit-filter: drop-shadow(0px 4px 10px #C2C2C2);
//       -webkit-transition: -webkit-filter 0.3s ease;
//       -moz-transition: -webkit-filter 0.3s ease;
//       -o-transition: -webkit-filter 0.3s ease;
//       transition: -webkit-filter 0.3s ease;
//       &:hover,
//       &:active { -webkit-filter: drop-shadow(0px 0px 0px #C2C2C2); }
//     }
//   }
//   .other-thangs {
//     .more-work {
//       width: 70%;
//       @media (max-width: 420px) {
//         width: 95%;
//       }
//       ul {
//         columns: 2;
//         -webkit-column-count: 2;
//         -moz-column-count: 2;
//       }
//     }
//     .column-right {
//       width: 20%;
//       @media (max-width: 420px) {
//         width: 95%;
//       }
//     }
//   }
// }
