<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{%- if title -%}{{ title }}{%- else -%}Rafa's website{%- endif -%}</title>
    <meta name="description" content="{%- if description -%}{{ description }}{%- else -%}Personal website of Rafael Conde{%- endif -%}">
    <meta name="author" content="Rafael Conde">
    <meta name="viewport" content="initial-scale=1.0" />
    <meta name="theme-color" content="#fff">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    {% if stylesheet %}
    <link rel="stylesheet" href="/css/{{ stylesheet }}"/>
    {% else %}
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    {% endif %}
  </head>
  <body>
    {{ content | safe }}
    {% set js %}{% include "js/scripts.js" %}{% endset %}
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>{{ js | jsmin | safe }}</script>
  </body>
</html>
