.break-this-safe {
  background: #000;
  color: #fff;
  z-index: 1;

  .tint-color {
    color: #519D9E;
  }

  .external-link:hover {
    border-color: #519D9E;
  }

  .wave {
    z-index: 1;
  }

  .wave-top {
    top: -100px;
  }

  .wave-bottom {
    bottom: -100px;
  }

  @media (max-width: 1800px) {
    .wave-top {
      top: -75px;
    }

    .wave-bottom {
      bottom: -76px;
    }
  }

  .main-content-wrapper {
    align-items: center;

    @media (max-width: 975px) {
      flex-direction: column;
      align-items: center;
      padding-top: 110px;
      margin-bottom: -110px;
    }

    @media (max-width: 780px) {
      align-items: flex-start;
    }

    @media (max-width: 469px) {
      min-height: 790px;
      padding-bottom: 10px;
    }
  }

  .showcase {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    max-height: 600px;
  }

  .watch-wrapper {
    display: block;
    position: relative;
    width: 264px;
    top: 120px;

    img {
      width: 100%;
    }

    video {
      position: absolute;
      top: 403px;
      left: 38px;
      width: 179px;
    }

    .watch-frame-closed {
      display: none;
    }

    @media (max-width: 975px) {
      top: 0;

      video {
        top: 133px;
        left: 45px;
      }

      .watch-frame-closed {
        display: block;
      }

      .watch-frame-open {
        display: none;
      }
    }
  }
}
