@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: white;
  background: #202124;
  font-size: 17px;
}

.article p {
  font-family: "Merriweather", serif;
}

h1 {
  margin: 0 auto 40px auto;
}

h2 {
  margin: 104px auto 16px auto;
}

h3 {
  margin: 64px auto 16px auto;
}

span.date {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.5;
}

em.aside {
  opacity: 0.5;
  transition: opacity 1s 0.2s;

  &:hover {
    opacity: 0.9;
  }
}

p {
  margin: 0 auto 28px auto;
  line-height: 29px;
}

.article a {
  color: inherit;
  border-bottom: 2px solid #7cace4;
  text-decoration: none;
}

a.ninja {
  border-bottom: none;
}

hr {
  opacity: 0.2;
  margin: 40px auto;
}

.article,
.header,
.footer {
  max-width: 600px;
  margin: auto;
}

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    width: 100%;

    opacity: 0.5;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  .pull-right {
    text-align: right;
  }
}

.header svg,
.footer svg {
  margin-right: 4px;
}

.header {
  margin: 40px auto 64px auto;
  padding-bottom: 12px;
  border-bottom: 1px solid #8f9091;
}

.footer {
  margin: 104px auto 40px auto;
  padding-top: 16px;
  border-top: 1px solid #8f9091;
}

.article img {
  width: 100%;
  margin: 24px auto 40px;
  border-radius: 4px;
}
