---
layout: layouts/base.njk
---

    <div class="papa-wrapper">
      <div class="section big-hero-six" data-theme-color="rgb(255, 255, 255)">
        <div class="background">
          <video preload playsinline muted autoplay poster="/assets/poster.jpg" src="/assets/background-video.mp4" fetchpriority="high">
          </video>
        </div>
        <div class="main-content-wrapper">
          <div class="content">
            <p><a href="https://youtu.be/sNPnbI1arSE?t=8s" class="ninja-links" target="_blank">Hi, my name is</a></p>
            <h1>Rafa<span id="unecessary-part-of-name">el Conde</span></h1>
            <p>I design and make apps and stuff</p>
          </div>
        </div>
        <div class="custom-wave"></div>
      </div>

      <div class="section sketch" data-theme-color="rgb(255, 160, 0)">
        <div class="main-content-wrapper">
          <div class="content">
            <h2><span class="timestamp">2023–Present</span><br />Sketch</h2>
            <p>I started the year of 2023 by joining the Product Design team at Sketch, an app that has meant so much for me both personally and professionally.</p>
            <a href="https://sketch.com" target="_blank" class="external-link tint-color">Visit our landing page</a>
          </div>
          <div class="showcase">
            <div class="card">
              <a href="https://sketch.com" target="_blank" class="whole-thang-is-a-target">
            </div>
          </div>
        </div>
        <svg class="wave wave-bottom" width="4323" height="250" viewBox="0 0 4323 250" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4323 149.091C4091.5 100.525 3848.5 186.994 3412 202.614C2750.36 226.291 2638.5 40.8657 2124.5 4.04682C1683.02 -27.5776 1127.5 135.797 721 159.38C314.504 182.963 0 128.418 0 128.418V250H4323C4323 250 4323 27.5687 4323 149.091Z"/>
        </svg>

      </div>

      <div class="section handmirror" data-theme-color="rgb(234, 233, 234)">
        <div class="main-content-wrapper">
          <div class="content">
            <h2><span class="timestamp">Side Project</span><br />Hand Mirror</h2>
            <p>A Mac app that lives in your menu bar, and when you click on it you get a view from your camera.</p>
            <p>Built this in a weekend back in 2020 and it has been a dream side project for me ever since — a small macOS app that people seem to enjoy and it has been featured by the App Store, <a href="https://www.theverge.com/2022/12/28/23528088/hand-mirror-notch-trigger-webcam-preview-mac-app" target="_blank" class="">The Verge</a>, <a href="https://www.macstories.net/reviews/belkins-magsafe-mount-for-desktops-and-displays-hand-mirror-and-the-logitech-crayon/" target="_blank" class="">MacStories</a>, <a href="https://9to5mac.com/2022/12/19/hand-mirror-macos-app-camera-check/" target="_blank" class="">9to5Mac</a> and others.</p>

            <p>I hope it would make my 16 year old self proud!</p>
            <a href="https://apps.apple.com/us/app/hand-mirror/id1502839586?mt=12" target="_blank" class="external-link tint-color">Download from the Mac App Store</a>
            <br />
            <a href="https://handmirror.app" target="_blank" class="external-link tint-color">Marketing site</a>

          </div>
          <div class="showcase">
            <div class="card video-card depth-level-3">
              <video preload playsinline muted autoplay loop src="/assets/handmirror-demo-4.mp4">
              </video>
            </div>
            <div class="card video-card depth-level-3">
              <video preload playsinline muted autoplay loop src="/assets/handmirror-demo-2.mp4">
              </video>
            </div>
            <div class="card depth-level-1 hero-card"><a href="https://handmirror.app" target="_blank" class="whole-thang-is-a-target"></a></div>
            <div class="card video-card depth-level-2">
              <video preload playsinline muted autoplay loop src="/assets/handmirror-demo-3.mp4">
              </video>
            </div>
            <div class="card video-card depth-level-2">
              <video preload playsinline muted autoplay loop src="/assets/handmirror-demo-1.mp4">
              </video>
            </div>
          </div>
        </div>
        <svg class="wave wave-bottom" width="4323" height="700" viewBox="0 0 4323 700" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4323 34.5566C4323 252.392 4225.5 548.808 3509.5 548.808C3135 548.808 3153.5 368.696 2564.5 393C2119.77 411.351 1139.99 506.534 733.498 548.808C327.002 591.082 0 561.739 0 561.739V700H4323C4323 700 4323 -183.279 4323 34.5566Z" fill="#fcfcfc"/>
        </svg>
      </div>

      <div class="section thwip" data-theme-color="rgb(240, 216, 253)">
        <div class="main-content-wrapper">
          <div class="content">
            <h2><span class="timestamp">Side Project</span><br />Thwip</h2>
            <p>Your portable soundboard, available for iOS and watchOS.</p>
            <p>What started as a simple soundboard app for Apple Watch, evolved motivated by playtime with my son — a way to have custom boards for all the Mario sound effects, animal sounds, and quick audio recordings of him saying cute things, that I know won't last long enough.</p>
            <a href="https://apps.apple.com/iq/app/thwip-soundboard/id6466668240" target="_blank" class="external-link tint-color">Download on the App Store</a>
            <br />
            <a href="https://thwip.app" target="_blank" class="external-link tint-color">Marketing site</a>

          </div>
          <div class="showcase">
            <div class="card depth-level-1"><a href="https://thwip.app" class="whole-thang-is-a-target"></a></div>
            <div class="card depth-level-2"><a href="https://thwip.app" class="whole-thang-is-a-target"></a></div>
            <div class="card depth-level-3"><a href="https://thwip.app" class="whole-thang-is-a-target"></a></div>
            <div class="card depth-level-2"><a href="https://thwip.app" class="whole-thang-is-a-target"></a></div>
            <div class="card depth-level-3"><a href="https://thwip.app" class="whole-thang-is-a-target"></a></div>
            <div class="card depth-level-1 video-card">
              <a href="/assets/thwip-video.mp4" target="_blank" class="whole-thang-is-a-target">
              <video preload playsinline muted autoplay loop src="/assets/thwip-video.mp4" id="thwip-video">
              </video>
            </div>
          </div>
        </div>
        <svg class="wave wave-bottom" width="4323" height="700" viewBox="0 0 4323 700" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.72978e-08 34.5567C-0.00398254 252.392 251.499 426.462 957.999 515.983C2043 640.319 1870.5 376.296 2459.5 400.6C2904.23 418.951 3183 506.534 3589.5 548.808C3996 591.082 4323 561.739 4323 561.739V700H4.72978e-08C4.72978e-08 700 0.00398264 -183.279 4.72978e-08 34.5567Z" fill="white"/>
        </svg>
      </div>

      <div class="section hidock" data-theme-color="rgb(234, 233, 234)">
        <div class="main-content-wrapper">
          <div class="content">
            <h2><span class="timestamp">Side Project</span><br />HiDock</h2>
            <p>A Mac app that lets you set custom Dock settings for when on different displays.</p>
            <p>I wanted to have my Dock visible when connected to my large external display, but hidden and smaller when on my laptop, I couldn't believe that there was no way to do that so I built this.</p>

            <a href="https://hidock.app" target="_blank" class="external-link tint-color">Download for free</a>

          </div>
          <div class="showcase">
            <div class="card depth-level-2"><a href="https://hidock.app" target="_blank" class="whole-thang-is-a-target"></a></div>
            <div class="card depth-level-1 hero-card"><a href="https://hidock.app" target="_blank" class="whole-thang-is-a-target"></a></div>
          </div>
        </div>
        <svg class="wave wave-bottom" width="4324" height="202" viewBox="0 0 4324 202" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.996094 202V80.4186C0.996094 80.4186 202 -52.0911 743 24.5C1284 101.091 1884 24.5 2624 24.5C3364 24.5 4324 101.091 4324 101.091C4324 101.091 4324 202 4324 202H0.996094Z" fill="white"/>
        </svg>
      </div>

      <div class="section along" data-theme-color="rgb(13, 13, 13)">
        <div class="main-content-wrapper">
          <div class="content">
            <h2><span class="timestamp">2021–2023</span><br />Along</h2>
            <p>I got to scratch "work with friends" off my bucket list when I joined <a target="_blank" href="https://twitter.com/soffes">Sam Soffes</a> and <a target="_blank" href="https://twitter.com/uberbryn">Bryn Jackson</a> as their Founding Designer at Along.<br />The goal was to build the best platform for creators to produce amazing content, engage their community, and make a living.</p>
          </div>
          <div class="showcase">
            <div class="card video-card">
              <video preload playsinline muted autoplay loop src="/assets/along-reel.mp4">
              </video>
            </div>
            <div class="card video-card">
              <a href="https://dribbble.com/shots/17536865--Beta-Tape-Onboarding" target="_blank" class="whole-thang-is-a-target">
              <video preload playsinline muted autoplay loop src="/assets/Dribbble-Along-Onboarding-Optimized.mp4">
              </video>
            </div>
            <div class="card video-card">
              <a href="https://dribbble.com/shots/17720645-Camera-Roll-Dynamic-Icon" target="_blank" class="whole-thang-is-a-target">
              <video preload playsinline muted autoplay loop src="/assets/camera-roll-dribbble-shorter.mp4">
              </video>
            </div>
            <div class="card depth-level-2"></div>
          </div>
        </div>
        <svg class="wave wave-bottom" width="4323" height="250" viewBox="0 0 4323 250" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4323 149.091C4091.5 100.525 3848.5 186.994 3412 202.614C2750.36 226.291 2638.5 40.8657 2124.5 4.04682C1683.02 -27.5776 1127.5 135.797 721 159.38C314.504 182.963 0 128.418 0 128.418V250H4323C4323 250 4323 27.5687 4323 149.091Z" fill="white"/>
        </svg>
      </div>

      <div class="section netlify" data-theme-color="rgb(255, 255, 255)">
        <div class="main-content-wrapper">
          <div class="content">
            <h2><span class="timestamp">2016–2020</span><br />Netlify</h2>
            <p>I joined Netlify in 2016 as their first designer and was responsible for designing and scaling our app's UI for the next 5 years.</p>
            <p>I’ve also led the 2018's marketing and brand redesign, and helped hire and grow our <a href="https://twitter.com/iKristy/status/1299112468921409536" target="_blank">incredible Product Design team</a>.</p>
            <a href="https://www.netlify.com/" target="_blank" class="external-link tint-color">Learn more about Netlify</a>
          </div>
          <div class="showcase">
            <div class="card depth-level-2"><a href="https://dribbble.com/shots/4369210-New-Netlify-Site-Home" target="_blank" class="whole-thang-is-a-target"></a></div>
            <div class="card depth-level-3"><a href="https://dribbble.com/shots/3611765-Split-Testing" target="_blank" class="whole-thang-is-a-target"></a></div>
            <div class="card depth-level-1"><a href="https://app.netlify.com/" target="_blank" class="whole-thang-is-a-target"></a></div>
            <div class="card depth-level-2"><a href="https://www.netlify.com/" target="_blank" class="whole-thang-is-a-target"></a></div>
            <div class="card depth-level-3"><a href="https://dribbble.com/shots/3611833-Split-Testing-Iconography" target="_blank" class="whole-thang-is-a-target"></a></div>
          </div>
        </div>
        <svg class="wave wave-bottom" width="4324" height="202" viewBox="0 0 4324 202" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.996094 202V80.4186C0.996094 80.4186 202 -52.0911 743 24.5C1284 101.091 1884 24.5 2624 24.5C3364 24.5 4324 101.091 4324 101.091C4324 101.091 4324 202 4324 202H0.996094Z" fill="white"/>
        </svg>
      </div>

      <div class="section boobyTrack" data-theme-color="rgb(244, 215, 199)">
      <div class="main-content-wrapper">
        <div class="content">
          <h2><span class="timestamp">Side Project</span><br />Booby Track</h2>
          <p>Convenient and fun way to keep track of your breastfeeds,<br />on your iPhone and Apple Watch.</p>
          <p>A couple of weeks after our son was born, my partner asked if I could write an app for her to keep track of which boob did she feed our baby with last, and at what time. This is that app.</p>
          <a href="https://apps.apple.com/us/app/booby-track/id1576108586" target="_blank" class="external-link tint-color">Download on the App Store</a>
          <br />
          <a href="https://boobytrack.app" target="_blank" class="external-link tint-color">Landing page</a>

        </div>
        <div class="showcase">
          <div class="card video-card">
            <a href="https://boobytrack.app" target="_blank" class="whole-thang-is-a-target">
            <video preload playsinline muted autoplay loop src="/assets/booby-track-promo.mp4">
            </video>
          </div>
          <div class="apple-watch-my-back">
            <div class="viewport">
            </div>
          </div>

          <div class="card depth-level-2"><a href="https://boobytrack.app" target="_blank" class="whole-thang-is-a-target"></a></div>
        </div>
      </div>
      <svg class="wave wave-bottom" width="4323" height="700" viewBox="0 0 4323 700" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4323 34.5566C4323 252.392 4225.5 548.808 3509.5 548.808C3135 548.808 3153.5 368.696 2564.5 393C2119.77 411.351 1139.99 506.534 733.498 548.808C327.002 591.082 0 561.739 0 561.739V700H4323C4323 700 4323 -183.279 4323 34.5566Z" fill="#f0d8fd"/>
    </svg>
    </div>



      <div class="section layout" data-theme-color="rgb(248, 250, 251)">
        <div class="main-content-wrapper">
          <div class="content">
            <h2><span class="timestamp">2015–2023</span><br />Layout</h2>
            <p>Layout was a podcast about design, technology, and everything else.</p>
            <p>For almost 8 years, my friend <a href="https://mastodon.design/@kevin">Kevin Clark</a> and I recorded 364 episodes of what became the most fulfilling and special side project I've ever done.</p>
            <a href="https://layout.fm" target="_blank" class="external-link tint-color">Give it a listen</a>
          </div>
          <div class="showcase">
            <div class="card depth-level-2"><a href="https://twitter.com/rafahari/status/856372852362051585" target="_blank" class="whole-thang-is-a-target"></a></div>
            <div class="card depth-level-3"><a href="https://twitter.com/williambout/status/968552607894577152" target="_blank" class="whole-thang-is-a-target"></a></div>
            <div class="card depth-level-1"><a href="https://layout.fm/" target="_blank" class="whole-thang-is-a-target"></a></div>
            <div class="card depth-level-2"><a href="https://twitter.com/danielroeven/status/963828209933602817" target="_blank" class="whole-thang-is-a-target"></a></div>
            <div class="card depth-level-3"><a href="https://twitter.com/wolfinthecity_/status/963633644387610624" target="_blank" class="whole-thang-is-a-target"></a></div>
            <div class="card depth-level-2"><a href="https://twitter.com/rafahari/status/856033438331092992" target="_blank" class="whole-thang-is-a-target"></a></div>
            <div class="card depth-level-3"><a href="https://twitter.com/Matesmac/status/981586211344191490" target="_blank" class="whole-thang-is-a-target"></a></div>
          </div>
        </div>
      </div>

      <div class="section break-this-safe" data-theme-color="rgb(0, 0, 0)">
        <svg class="wave wave-top" width="4323" height="250" viewBox="0 0 4323 250" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4323 100.909C4091.5 149.475 3848.5 63.0061 3412 47.3859C2750.36 23.7092 2638.5 209.134 2124.5 245.953C1683.02 277.578 1127.5 114.203 721 90.6202C314.504 67.0372 0 121.582 0 121.582V5.78165e-06H4323C4323 5.78165e-06 4323 222.431 4323 100.909Z" fill="white"/>
        </svg>

        <div class="main-content-wrapper">
          <div class="content">
            <h2><span class="timestamp">Side Project</span><br />Break this Safe</h2>
            <p>An Apple Watch game in which you take advantage of the Digital Crown and haptic feedback to break into a safe. </p>
            <p>No longer available to download, as a certain version of watchOS introduced some fatal bugs and I haven't had the time to invest back in it.</p>
            <a href="http://breakthissafe.com#case-study" target="_blank" class="external-link tint-color">Read the case study</a>
          </div>
          <div class="showcase">
            <div class="watch-wrapper">
              <img src="/assets/watch-open.png" class="watch-frame-open">
              <img src="/assets/watch-closed.png" class="watch-frame-closed">
              <video preload muted loop autoplay src="/assets/gameplayVideo.mp4" type="video/mp4">
              </video>
            </div>
            <div class="card video-card">
              <a href="https://dribbble.com/shots/15213165-Break-this-Safe-2-Early-iPhone-Concept" target="_blank" class="whole-thang-is-a-target">
              <video preload playsinline muted autoplay loop src="/assets/dribbble-break-this-safe-2.mp4">
              </video>
            </div>
          </div>
        </div>
        <svg class="wave wave-bottom" width="4323" height="700" viewBox="0 0 4323 700" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4323 34.5566C4323 252.392 4225.5 548.808 3509.5 548.808C3135 548.808 3153.5 368.696 2564.5 393C2119.77 411.351 1139.99 506.534 733.498 548.808C327.002 591.082 0 561.739 0 561.739V700H4323C4323 700 4323 -183.279 4323 34.5566Z" fill="white"/>
        </svg>
      </div>

      <div class="section miscelanious-is-a-funny-word">
        <div class="main-content-wrapper in-the-year-2000" data-theme-color="rgb(255, 255, 255)">
          <div class="content">
            <h3>In a previous life</h3>
            <p>I used to do some things that I am not really doing anymore</p>
            <ul>
              <li class="frames">
                <div class="flexing-like-a-douche">
                  <div class="detail">
                    <img src="/assets/frames-icon.png"/>
                  </div>
                  <div class="wrapper">
                    <h4>Frames</h4>
                    <p>An iOS utility app to save and mirror your Framer prototypes.</p>
                  </div>
                </div>
                <a href="http://frames.design/" target="_blank" class="whole-thang-is-a-target"></a>
              </li>
              <li class="sketchcasts">
                <div class="flexing-like-a-douche">
                  <div class="detail">
                    <img src="/assets/sketchcasts-icon.png"/>
                  </div>
                  <div class="wrapper">
                    <h4>SketchCasts</h4>
                    <p>A weekly video tutorial on Sketch.</p>
                  </div>
                </div>
                <a href="https://twitter.com/sketchcasts" target="_blank" class="whole-thang-is-a-target"></a>
              </li>
              <li class="print">
                <div class="flexing-like-a-douche">
                  <div class="detail">
                    <img src="/assets/published.png"/>
                  </div>
                  <div class="wrapper">
                    <h4>Writing</h4>
                    <p>I had the honor of being published on <a href="http://www.creativebloq.com/web-design/how-mock-website-sketch-11513814" target="_blank">netMagazine</a> and <a href="http://www.offscreenmag.com/issue8/" target="_blank">Offscreen</a>.</p>
                  </div>
                </div>
              </li>
              <li class="talks">
                <div class="flexing-like-a-douche">
                  <div class="detail">
                    <img src="/assets/talk-icon.png"/>
                  </div>
                  <div class="wrapper">
                    <h4>How Being a Developer Makes Me a Better Designer</h4>
                    <p>Transcript of a talk I used to give.</p>
                  </div>
                </div>
                <a href="/blog/how-being-a-developer-makes-me-a-better-designer" target="_blank" class="whole-thang-is-a-target"></a>
              </li>

              <li class="talks">
                <div class="flexing-like-a-douche">
                  <div class="detail">
                    <img src="/assets/talk-icon.png"/>
                  </div>
                  <div class="wrapper">
                    <h4>The Rise of the JAMstack (DJ set)</h4>
                    <p>Transcript of another talk I used to give.</p>
                  </div>
                </div>
                <a href="/blog/the-rise-of-the-jamstack-dj-set" target="_blank" class="whole-thang-is-a-target"></a>
              </li>

            </ul>
          </div>
        </div>

        <div class="main-content-wrapper people-id-like-to-meet">
          <div class="content">
            <h3>People I'd like to meet</h3>
            <p>I've been fortunate enough to meet some of my heroes, but I still have a long way to go.<br />This is a list of <i>some</i> of the people I'd like to high five IRL.</p>
            <ul>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/3dfordesigners">Devon Ko</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/vic_bell">Vic Bell</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/joeyabanks">Joey Banks</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/ericeriksson">Eric Eriksson</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/film_girl">Christina Warren</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/adrianmg">Adrián Mato</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/neilsardesai">Neil Sardesai</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/reederapp">Silvio Rizzi</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/jordanstaniscia">Jordan Staniscia</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/MuseumShuffle">Chris Wu</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/marcedwards">Marc Edwards</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://mastodon.design/@louie@pdx.social">Louie Mantia</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/chrstnerode">Christine Røde</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/bdc">Benjamin De Cock</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/jsngr">Jordan Singer</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/ugmonk">Jeff Sheldon</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/cjmlgrto">Carlos Melegrito</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/mb">Matthew Bischoff</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/kaibrach">Kai Brach</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/drewwilson">Drew Wilson</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/faitherina">Faith Korpi</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/jessicahische">Jessica Hische</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/frank_chimero">Frank Chimero</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/tranhelen">Helen Tran</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/charliedeets">Charlie Deets</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/simmy">Ryan Sims</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/taramann">Tara Mann</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/rogie">Rogie</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/cabel">Cabel Sasser</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/imcatnoone">Cat Noone</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/michaeltuckerla">Michael Tucker</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://en.wikipedia.org/wiki/Claire_Saffitz">Claire Saffitz</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/lorenb">Loren Brichter</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/ChristianSelig">Christian Selig</a></li>
              <li><span class="tick"></span><a target="_blank" href="https://twitter.com/killnicole">Vic Nikitina</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/settern">Serenity Caldwell</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/_chuckyc">Charlie Chapman</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/emanuelsa">Emanuel Sá</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/gavmn">Gavin Nelson</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/jtaby">Majd Taby</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/DavidDarnes">Dave Darnes</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/sarah_edo">Sarah Drasner</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/frederiquepng">Frederique Matti</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/magalhini">Ricardo Magalhães</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/lindadong">Linda Dong</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/ryhanhassan">Ryhan Hassan</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/benjaminnathan">Benjamin den Boer</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/ZachACole">Zach Cole</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/sarasoueidan">Sara Soueidan</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/RamonGilabert">Ramon Gilabert</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/deezel">Darin Dimitroff</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/gabrielvaldivia">Gabriel Valdivia</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/keeg">Keegan Jones</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/joshpuckett">Josh Puckett</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/vernalkick">Kevin Clark</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/wilsonminer">Wilson Miner</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/brian_lovin">Brian Lovin</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/danielchooper">Daniel Hooper</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/sarahberus">Sarah Jackson</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/uberbryn">Bryn Jackson</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/caseyliss">Casey Liss</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/marcoarment">Marco Arment</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/siracusa">John Siracusa</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/sdw">Sebastiaan</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/rsms">Rasmus Andersson</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/stammy">Paul Stamatiou</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/soffes">Sam Soffes</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/hotdogsladies">Merlin Mann</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/imyke">Michael Hurley</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/gruber">John Gruber</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/maxvoltar">Tim Van Damme</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/padbury">Robert Padbury</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/pnowelldesign">Peter Nowell</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/viticci">Federico Viticci</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/warpling">Ryan McLeod</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/laurakalbag">Laura Kalbag</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/pieteromvlee">Pieter Omvlee</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/MengTo">Meng To</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/alexcican">Alex Cican</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/jornvandijk">Jorn van Dijk</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/koenbok">Koen Bok</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/zoink">Dylan Field</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/s_pease">Sarah Pease</a></li>
              <li class="checked"><span class="tick"></span><a target="_blank" href="https://twitter.com/johanprag">Johan Prag</a></li>
            </ul>
          </div>
      </div>

      <div class="main-content-wrapper social">
        <div class="content">
          <h3>Follow me on the internet</h3>
          <p>Not like in a creepy way, I try to stay positive and light out there — let's be friends.</p>
          <ul>
            <li class="mastodon">
              <div class="flexing-like-a-douche">
                <div class="detail">
                  <img src="/assets/social-mastodon.png"/>
                </div>
                <div class="wrapper">
                  <h4>Mastodon</h4>
                  <p>This has become my preferred way of communicating with all of my favorite nerds out there.</p>
                </div>
              </div>
              <a rel="me" href="https://mastodon.design/@rafa"  target="_blank" class="whole-thang-is-a-target"></a>
            </li>
            <li class="twitter">
              <div class="flexing-like-a-douche">
                <div class="detail">
                  <img src="/assets/social-twitter.png"/>
                </div>
                <div class="wrapper">
                  <h4>Twitter</h4>
                  <p>Used to be my favorite place, now it's a hellhole.</p>
                </div>
              </div>
              <a href="https://twitter.com/rafahari" target="_blank" class="whole-thang-is-a-target"></a>
            </li>
            <li class="letterboxd">
              <div class="flexing-like-a-douche">
                <div class="detail">
                  <img src="/assets/social-letterboxd.png"/>
                </div>
                <div class="wrapper">
                  <h4>Letterboxd</h4>
                  <p>All things movies, I keep a diary of everything I watch and occasionally write a review.</p>
                </div>
              </div>
              <a href="https://letterboxd.com/rafaelconde/" target="_blank" class="whole-thang-is-a-target"></a>
            </li>
            <li class="dribbble">
              <div class="flexing-like-a-douche">
                <div class="detail">
                  <img src="/assets/social-dribbble.png"/>
                </div>
                <div class="wrapper">
                  <h4>Dribbble</h4>
                  <p>If I didn't share a Dribbble link would I be a real designer?</p>
                </div>
              </div>
              <a href="https://dribbble.com/rafahari" target="_blank" class="whole-thang-is-a-target"></a>
            </li>
            <li class="github">
              <div class="flexing-like-a-douche">
                <div class="detail">
                  <img src="/assets/social-github.png"/>
                </div>
                <div class="wrapper">
                  <h4>GitHub</h4>
                  <p>If I didn't share a GitHub link would I be a real unicorn?!</p>
                </div>
              </div>
              <a href="https://github.com/rafaelconde" target="_blank" class="whole-thang-is-a-target"></a>
            </li>
            <li class="apple-music">
              <div class="flexing-like-a-douche">
                <div class="detail">
                  <img src="/assets/social-apple-music.png"/>
                </div>
                <div class="wrapper">
                  <h4>Apple Music</h4>
                  <p>I still miss Rdio every single day—Apple Music is a second best.</p>
                </div>
              </div>
              <a href="https://itunes.apple.com/profile/rafahari" target="_blank" class="whole-thang-is-a-target"></a>
            </li>
            <li class="psn">
              <div class="flexing-like-a-douche">
                <div class="detail">
                  <img src="/assets/social-psn.png"/>
                </div>
                <div class="wrapper">
                  <h4>PSN</h4>
                  <p>My PS5 is still where I do most of my gaming — search for "rafaelconde".</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="main-content-wrapper footer">
          <p>Copyleft © [what-year-is-this]</p>
          <p>This website definitely does not represent the front-end skills of Rafael Conde, this is his personal web standards' rebellion — <a href="https://github.com/rafaelconde/rafaelconde" target="_blank">open sourced</a>.</p>
          <p>If you're desperately looking for that blog post on how I hacked my pet feeder to work with Siri/Home… fine, <a href="/blog/siri-cat-feeder">here it is</a>.</p>
          <p>… and if you're looking for 6K P3 Remastered Mac OS X wallpapers, <a target="_blank" href="https://osx.photo">here</a>.</p>
          <p>… and if you're looking for a simple tool to test macOS Materials, <a target="_blank" href="/assets/Materials_1.0.zip">here</a>.</p>
      </div>
    </div>
    <img src="/assets/not-how-this-works.png" id="easterNope" class="easter not-how-this-works" />
  </div>
