.big-hero-six {
  display: flex;
  position: absolute;
  height: 600px;
  top: 0px;
  margin-bottom: 200px;
  overflow: hidden;
  color: #fff;
  z-index: 1;

  p {
    margin: 0;

    &:first-of-type {
      position: relative;
      /* bottom: -10px; */
      left: 3px;
    }

    &:last-of-type {
      position: relative;
      left: 3px;

      @media (minx-width: 520px) {
        top: 8px;
      }
    }
  }

  .background {
    height: 600px;
    width: 100vw;
    text-align: center;
    background: #000;
  }

  .main-content-wrapper {
    align-items: center;
    justify-content: flex-start;
  }

  video {
    position: relative;
    right: -20%;
    top: -40px;
    z-index: 1;
  }
}

.memoji {
  display: none;
  height: 60px;
  margin-right: 10px;
}

#unecessary-part-of-name {
  animation: 10s ease-in-out 3s fade-away;
  animation-fill-mode: forwards;
}

@keyframes fade-away {
  from { opacity: 1; }
  to { opacity: 0.1; }
}

/* Some switcharoos on what to show on the hero, depending on the size */

@media (max-width: 780px) {
  .big-hero-six {
    color: #0e1e25;
   
    .background {
      background: #fff;
   }
 }
 
 .big-hero-six video {
   display: none;
   }

  .memoji {
      display: block;
  }
}

@media (max-width: 624px) {
  .big-hero-six h1 {
    font-size: 11vw;
  }
}

@media (max-width: 520px) {
  
  .big-hero-six .main-content-wrapper {
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
  }

  .memoji {
    height: 44px;
    margin-right: 10px;
  }

  .big-hero-six h1 {
    font-size: 42px;
    margin:4px 0 4px 0;
  }
}
