.layout {
  position: relative;
  z-index: 2;
  margin-top: -56px;

  .tint-color {
    color: #50C54C;
  }
  
  .wave-bottom {
    z-index: 1;
  }

  .external-link:hover {
    border-color: #50C54C;
  }

  .main-content-wrapper {
    align-items: center;
    padding-bottom: 30px;
    min-height: 730px;
    margin-top: -40px;
    z-index: 2;

    @media (max-width: 975px) {
      flex-direction: column;
      align-items: center;
      min-height: 900px;
      margin-top: 64px;
      margin-bottom: 104px;
    }

    @media (max-width: 780px) {
      align-items: flex-start;
    }

    @media (max-width: 469px) {
      min-height: 790px;
      padding-bottom: 10px;
    }
  }

  .showcase {
    position: relative;
    margin-top: 140px;
    left: -40px;
    transform: scale(.8, .8);
    transform-origin: top left;

    @media (min-width: 469px) {
      transform: scale(1, 1);
      top: -50px;
      left: -40px;
    }

    @media (min-width: 975px) {
      top: -120px;
      left: 40px;
    }
  }

  .card {
    position: absolute;
    background-size: cover;
    background-position: center;
    width: 380px;
    height: 380px;

    &:first-of-type {
      position: relative;
    }

    &:nth-child(1) {
      top: -160px;
      left: -60px;
      background-image: url(/assets/layout-1.jpg);
    }

    &:nth-child(2) {
      top: -160px;
      left: 200px;
      background-image: url(/assets/layout-2.jpg);
    }

    &:nth-child(3) {
      top: 70px;
      left: 70px;
      background-image: url(/assets/layout-cover.png);
    }

    &:nth-child(4) {
      top: 130px;
      left: 340px;
      background-image: url(/assets/layout-3.jpg);
    }

    &:nth-child(5) {
      top: 300px;
      left: -60px;
      background-image: url(/assets/layout-4.jpg);
    }

    &:nth-child(6) {
      top: 340px;
      left: 170px;
      background-image: url(/assets/layout-5.jpg);
    }

    &:nth-child(7) {
      top: 110px;
      left: -120px;
      background-image: url(/assets/layout-6.jpg);
    }
  }
}
