.superlist {
  position: relative;
  z-index: 2;
  background: #FF5043;
  background: color(display-p3 0.755 0.143 0.071);
  color: #fff;
  
  .wave-bottom {
	z-index: 1;
  }

  .tint-color {
	color: #fff;
  }

  .external-link:hover,
  a:hover {
	border-color: #ff5043;
  }

  .main-content-wrapper {
	align-items: center;
	padding: 104px 0 186px 0;

	@media (max-width: 975px) {
	  flex-direction: column;
	  align-items: center;
	  padding-bottom: 124px;
	  
	  .showcase {
		  margin-top: 24px;
	  }
	}

	@media (max-width: 469px) {
	  /* min-height: 860px; */
	  padding-bottom: 10px;
	}
  }

  .showcase {
	position: relative;
	
	img {
		height: 264px;
	}
  }
  
  .wave path {
	  fill: #0B0B0C;
  }
}
