.miscelanious-is-a-funny-word {
  background: #fff;
  position: relative;
  flex-direction: column;
  z-index: 1;

  p {
    margin-top: 8px;
  }

  .wave-top{
    top: -272px;

    @media (max-width: 2000px) {
      top: -222px;
    } @media (max-width: 1450px) {
      top: -180px;
    }
  }

  .main-content-wrapper {
    align-items: center;
    padding-bottom: 30px;
    min-height: 730px;
    margin-top: -40px;
  }

  .content {
    max-width: 100%;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 40px 0 0 0;
  }

  .flexing-like-a-douche {
    display: flex;
    align-items: center;
  }

  .detail {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    padding-top: 4px;

    img {
      width: 100%;
    }
  }

  .wrapper p {
    margin: 0;
  }
}

.people-id-like-to-meet {
  ul {
    column-count: 5;
    column-width: 190px;
  }

  .tick {
    display: block;
    box-sizing: content-box;
    height: 18px;
    width: 18px;
    border: 2px solid #0E1E25;
    border-radius: 4px;
    margin-right: 8px;
  }

  .checked .tick {
    border: 2px solid #219653;
    background: rgba(33, 150, 83, 0.17);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDExIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTQuMTMzMDUgNC43ODUxNUwyLjQ4MDYgMy4xMzI3QzEuOTEzMTMgMi41NjUyMiAwLjk5MzA3NiAyLjU2NTIyIDAuNDI1NjA0IDMuMTMyN0MtMC4xNDE4NjggMy43MDAxNyAtMC4xNDE4NjggNC42MjAyMiAwLjQyNTYwNCA1LjE4NzY5TDMuMDc5NzQgNy44NDE4MkMzLjQ2MjQ2IDguMjI0NTUgNC4wMDU1NiA4LjM0OTE1IDQuNDkyNzEgOC4yMTU2M0M0Ljc1MzE2IDguMTU3NzEgNS4wMDA3NiA4LjAyNzQzIDUuMjAzNDEgNy44MjQ3OUwxMC41NDc2IDIuNDgwNkMxMS4xMTUxIDEuOTEzMTMgMTEuMTE1MSAwLjk5MzA3NiAxMC41NDc2IDAuNDI1NjA0QzkuOTgwMTIgLTAuMTQxODY4IDkuMDYwMDcgLTAuMTQxODY4IDguNDkyNiAwLjQyNTYwNEw0LjEzMzA1IDQuNzg1MTVaIiBmaWxsPSIjMjE5NjUzIi8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: 4px 5px;
  }

  .checked a {
    color: #219653;
  }

  li {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    margin-right: -8px;
  }

  li a {
    font-size: 18px;
    color: #0E1E25;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    padding-top: 2px;

    &:hover {
      border-bottom: 2px solid #219653;
    }
  }
}

.miscelanious-is-a-funny-word .main-content-wrapper.social {
  margin-top: 64px;
}

.miscelanious-is-a-funny-word .main-content-wrapper.footer {
  display: block;
  padding-bottom: 30px;
  min-height: 0px;
  margin-top: 40px;

  p {
    font-size: 14px;
    margin-bottom: 4px;
  }
}

.in-the-year-2000 .flexing-like-a-douche,
.social .flexing-like-a-douche {
  display: flex;
  align-items: flex-start;

  .detail {
    flex-basis: 40px;
  }
  .wrapper {
    flex-basis: 95%;
  }
}

.in-the-year-2000 li,
.social li {
  display: block;
  position: relative;
  padding: 8px;
  margin-top: -8px;
  margin-left: -8px;
  border-radius: 4px;
  margin-bottom: 24px;

  &:hover {
    background: rgba(0, 179, 229, .1);
    cursor: pointer;
  }

  .whole-thang-is-a-target {
    position: absolute;
    top: 0;
    left: 0;
  }
}


.in-the-year-2000 .frames:hover {      background: rgba(059, 191, 248, .1); }
.in-the-year-2000 .sketchcasts:hover { background: rgba(069, 116, 174, .1); }
.in-the-year-2000 .talks:hover {       background: rgba(010, 158, 251, .1); }
.social .twitter:hover {               background: rgba(097, 159, 230, .1); }
.social .mastodon:hover {              background: rgba(040, 044, 055, .1); }
.social .dribbble:hover {              background: rgba(176, 092, 131, .1); }
.social .github:hover {                background: rgba(023, 021, 022, .1); }
.social .apple-music:hover {           background: rgba(213, 110, 125, .1); }
.social .strava:hover {                background: rgba(219, 098, 058, .1); }

.social .psn:hover,
.social .switch:hover {
  background: white;
  cursor: auto;
}

.dribbble {
  img {
    border-radius: 999px;
  }
}
