.handmirror {
  position: relative;
  z-index: 4;
  background: #0b0b0c;
  color: #fff;
  /* margin-top: 64px; */
  
  .wave-bottom {
    z-index: 1;
    
    path {
      fill: #fcfcfc;
    }
  }

  .tint-color {
    color: #2dff0f;
  }

  .external-link:hover {
    border-color: #00ad9f;
  }

  .main-content-wrapper {
    align-items: center;
    padding: 64px 0 186px 0;

    @media (max-width: 975px) {
      flex-direction: column;
      align-items: center;
      min-height: 900px;
      padding-bottom: 150px;
    }

    @media (max-width: 780px) {
      align-items: flex-start;
    }

    @media (max-width: 469px) {
      min-height: 860px;
      padding-bottom: 10px;
    }
  }

  .showcase {
    position: relative;
    margin-top: 40px;
    left: -20px;
    transform: scale(.6, .6);
    transform-origin: top left;
    top: 24px;
    
    @media (min-width: 475px) {
      transform: scale(.8);
      top: 64px;
    }

    @media (min-width: 975px) {
      transform: scale(1, 1);
      top: -70px;
    }
  }

  .card {
    position: absolute;
    background-size: cover;
    background-color: transparent;

    &:first-of-type {
      position: relative;
    }

    &:nth-child(1) {
      top: -170px;
      left: -20px;
      background-image: url(/assets/hand-mirror-dribbble-2.png);
      background-color: transparent;
    }

    &:nth-child(2) {
      top: -130px;
      left: 220px;
      background-image: url(/assets/hand-mirror-dribbble-3.png);
    }

    &:nth-child(3) {
      top: 0px;
      left: 40px;
      background-image: url(/assets/hand-mirror-app-icon.png);
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:nth-child(4) {
      top: 100px;
      left: 240px;
      background-image: url(/assets/hand-mirror-dribbble-5.png);
    }

    &:nth-child(5) {
      top: 230px;
      left: 50px;
      background-image: url(/assets/hand-mirror-dribbble-4.png);
    }
  }
  
  .hero-card {
    box-shadow: none;
    transform: scale(1);
  }
}
