.along {
    font-family: ui-rounded, "SF Pro Rounded", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    position: relative;
    z-index: 3;
    background: #0d0d0d;
    color: #fff;
    
    @media (max-width: 975px) {
      z-index: 1;
    }

    .tint-color {
        color: #c503ff;
        color: color(display-p3 0.685 0 1);
    }
  
      .wave-bottom {
        z-index: 1;
        
        path {
            fill: #f7fafb;
        }
    }
    
    .timestamp {
      left: 4px;
    }
  
  
  p a {
    border-color: rgba(199, 1, 255, 0.3);  
      
      &:hover {
        border-color: rgba(199, 1, 255, 1);
      }
  }

  .main-content-wrapper {
    align-items: center;
    padding-bottom: 30px;
    min-height: 640px;
    margin-top: -40px;
    z-index: 2;

    @media (max-width: 975px) {
      flex-direction: column;
      align-items: center;
      min-height: 720px;
      margin-top: 64px;
      margin-bottom: 140px;
      padding-bottom: 164px;
    }

    @media (max-width: 469px) {
      min-height: 764px;
      padding-bottom: 120px;
    }
  }

  .showcase {
    position: relative;
    
    @media (max-width: 975px) {
      left: 80px;
    }
    
    .video-card {
      position: absolute;
      width: auto;
      height: auto;
      overflow: hidden;
      
      video {
        position: relative;
        padding: 8px 8px 4px 8px;
        border-radius: 16px;
        width: 400px;
      }
      
      &:nth-child(2) {
        top: -80px;
        right: 0;
        z-index: 0;
        
        transform: scale(.8, .8) rotate(-10deg);
        box-shadow: 0px 4px 24px 2px rgba(14, 30, 37, 0.16);
        
        &:hover {
          transform: scale(.8, .8) translateY(-16px) rotate(2deg);
        } 
      }
      
      &:nth-child(3) {
        top: -280px;
        right: -40px;
        z-index: 0;
        
        transform: scale(.8, .8) rotate(4deg);
        box-shadow: 0px 4px 24px 2px rgba(14, 30, 37, 0.16);
        
        &:hover {
          transform: scale(.8, .8) translateY(-16px) rotate(2deg);
        } 
      }
    }
    
    .along-player {
        position: absolute;
        width: 390px;
        height: 693px;
        overflow: hidden;
        top: -340px;
        right: -224px;
        z-index: 1;
        
        border-radius: 33px;
        border: 8px solid #fff;
        
        transform: scale(.8, .8) rotate(6deg);
        box-shadow: 0px 4px 24px 2px rgba(14, 30, 37, 0.16);
        transition: transform 0.3s cubic-bezier(.83, 0, .17, 1);
        z-index: 2;
        
        &:hover {
            transform: scale(.8, .8) translateY(-16px) rotate(2deg);
        } 
        
        @media (max-width: 975px) {
          right: -164px;
        }
        
        @media (max-width: 469px) {
          right: -164px;
        }
    }
  }
}