.boobyTrack {
	font-family: ui-rounded, "SF Pro Rounded", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	position: relative;
	z-index: 1;
	margin-top: 10px;
	background: #F4D7C7;
	color: #5A3730;

	.tint-color {
		color: #AF3B52;
	}
  
  	.wave-bottom {
	z-index: 1;
	
	path {
		fill: #f0d8fd;
	}
  }

  .external-link:hover {
	border-color: #8700f3;
  }

  .main-content-wrapper {
	align-items: center;
	padding-bottom: 30px;
	min-height: 730px;
	margin-top: -40px;
	z-index: 2;

	@media (max-width: 975px) {
	  flex-direction: column;
	  align-items: center;
	  min-height: 0;
	  margin-top: 64px;
	  margin-bottom: 104px;
	}

	@media (max-width: 469px) {
	  min-height: 790px;
	  padding-bottom: 10px;
	}
  }
  
  .viewport {
	  background-image: url(/assets/boobyTrack-screenshot.png);
	  background-size: cover;
  }

  .showcase {
	position: relative;
	
	.video-card {
		position: absolute;
		width: auto;
		height: auto;
		overflow: hidden;
		top: -104px;
		right: -184px;
		z-index: 2;
		border-radius: 56px;
		
		transform: scale(.8, .8) rotate(10deg);
		box-shadow: 0px 4px 24px 2px rgba(14, 30, 37, 0.16);
		z-index: 2;
		
		&:hover {
			transform: scale(.8, .8) translateY(-16px) rotate(2deg);
		} 
		
		video {
			position: relative;
			padding: 8px 8px 4px 8px;
			border-radius: 60px;
			width: 320px;
		}
	}
  }
  
  .card {
	  position: absolute;
	  background-size: cover;
	  
	  &:nth-child(3) {
		  top: 264px;
		  left: -140px;
		  height: 300px;
		  width: 300px;
		  border-radius: 22%;
		  background-image: url(/assets/booby-track-app-icon.png);
		  background-color: transparent;
		}
  }	
}