.galaxy {
  position: relative;
  z-index: 2;
  background-color: #1C051D;
  background-image: url(/assets/galaxy-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: #fff;
  font-family: "MyriadPro-Regular", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

  @media (max-width: 975px) {
    z-index: 1;
  }

  .wave-bottom {
    z-index: 1;

    path {
      fill: #f7fafb;
    }
  }

  .tint-color {
    color: #fff;
  }

  h2 {
    font-family: "MyriadPro-Semibold", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    background: linear-gradient(#fff 33%, #8c8c8c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 2px 4px rgba(0,0,0,.5));
  }

  p, a {
    filter: drop-shadow(0px 2px 4px rgba(0,0,0,.5));
    border-color: rgba(198, 0, 0, 0.3);

    &:hover {
     border-color: rgba(198, 0, 0, 1);
    }
  }

  .external-link:hover {
    border-color: #fff;
  }

  .main-content-wrapper {
    align-items: center;
    padding: 60px 0 186px 0;

    @media (max-width: 975px) {
      flex-direction: column;
      align-items: center;
      min-height: 400px;
      padding-bottom: 100px;
    }

    @media (max-width: 780px) {
      align-items: flex-start;
    }

    @media (max-width: 469px) {
      min-height: 600px;
      padding-bottom: 10px;
    }
  }

  .showcase {
    position: relative;
    margin-top: 40px;
    left: -20px;
    transform: scale(.8);
    transform-origin: top left;
    top: 100px;
    min-height: 460px;

    @media (min-width: 475px) {
      transform: scale(0.9);
      top: 20px;
      left: -40px;
    }

    @media (min-width: 975px) {
      transform: scale(1, 1);
      top: -70px;
    }
  }

  .card {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
    background-size: cover;
    background-color: transparent;

    &:first-of-type {
      position: relative;
    }

    &:nth-child(1) {
      top: 120px;
      left: 100px;
      height: 316px;
      width: 500px;
      background-image: url(/assets/hidock-screenshot.png);
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center;

      transform: scale(1, 1) rotate(4deg);
      box-shadow: none;

      &:hover {
        transform: scale(1.1, 1.1) translateY(-16px) rotate(0deg);
      }
    }

    &:nth-child(2) {
      top: -40px;
      left: 200px;
      background-image: url(/assets/hidock-app-icon.png);
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .hero-card {
    box-shadow: none;
    transform: scale(1);
    height: 320px;
    width: 320px;
  }
}
