.handmirror {
  position: relative;
  z-index: 2;
  background: #EAE9EA;
  color: #202124;

  @media (max-width: 975px) {
    z-index: 2;
  }

  .wave-bottom {
    z-index: 1;

    path {
      fill: #060606;
    }
  }

  .tint-color {
    color: #C60000;
  }

  p, a {
    border-color: rgba(198, 0, 0, 0.3);

    &:hover {
     border-color: rgba(198, 0, 0, 1);
    }
  }

  .external-link:hover {
    border-color: #C60000;
  }

  .main-content-wrapper {
    align-items: center;
    padding: 64px 0 186px 0;

    @media (max-width: 975px) {
      flex-direction: column;
      align-items: center;
      min-height: 900px;
      padding-bottom: 150px;
    }

    @media (max-width: 780px) {
      align-items: flex-start;
    }

    @media (max-width: 469px) {
      min-height: 860px;
      padding-bottom: 10px;
    }
  }

  .showcase {
    position: relative;
    margin-top: 40px;
    left: -20px;
    transform: scale(.8);
    transform-origin: top left;
    top: 100px;
    min-height: 460px;

    @media (min-width: 475px) {
      transform: scale(0.9);
      top: 100px;
      left: 40px;
      min-height: auto;
    }

    @media (min-width: 975px) {
      transform: scale(1, 1);
      top: -70px;
    }
  }

  .card {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
    background-size: cover;
    background-color: transparent;

    &:first-of-type {
      position: relative;
    }

    video {
      position: relative;
      width: 400px;
      height: auto;
    }

    &:nth-child(1) {
      top: -170px;
      left: -20px;
      height: 294px;

      transform: scale(.8, .8) rotate(-6deg);
      box-shadow: 0px 4px 24px 2px rgba(14, 30, 37, 0.16);

      &:hover {
        transform: scale(1, 1) translateY(-16px) rotate(0deg);
      }
    }

    &:nth-child(2) {
      top: -130px;
      left: 220px;
      height: 294px;

      transform: scale(.8, .8) rotate(4deg);
      box-shadow: 0px 4px 24px 2px rgba(14, 30, 37, 0.16);

      &:hover {
        transform: scale(1, 1) translateY(-16px) rotate(0deg);
      }
    }

    &:nth-child(3) {
      top: 0px;
      left: 40px;
      background-image: url(/assets/hand-mirror-app-icon.png);
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:nth-child(4) {
      top: 100px;
      left: 240px;
      height: 294px;

      transform: scale(.8, .8) rotate(16deg);
      box-shadow: 0px 4px 24px 2px rgba(14, 30, 37, 0.16);

      &:hover {
        transform: scale(1, 1) translateY(-16px) rotate(0deg);
      }
    }

    &:nth-child(5) {
      top: 230px;
      left: 50px;
      height: 294px;

      transform: scale(.8, .8) rotate(-8deg);
      box-shadow: 0px 4px 24px 2px rgba(14, 30, 37, 0.16);

      &:hover {
        transform: scale(1, 1) translateY(-16px) rotate(0deg);
      }
    }
  }

  .hero-card {
    box-shadow: none;
    transform: scale(1);
    height: 320px;
    width: 320px;
  }
}
